body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background-color: #25274D ;
  --mainblue:#25274D;
  --mediumblue:#29648A; 
  --brightblue: #2b9ccc;
  --grey: #AAABB8;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: linear-gradient(to top, #32345e, #7072b8);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

#headerbckgr{
  background-color: rgba(255, 255, 255, 0.2);
}

.title {
  /* text-shadow: 2px 2px 4px #316991; */
  color: var(--brightblue);
  background: -webkit-linear-gradient(var(--brightblue), #3d80aa);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  
}
.subtitle {
  color: var(--brightblue);
  background: -webkit-linear-gradient(var(--brightblue), #448ebd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}
.info {
  color: var(--grey);
}
.bordered{
  border-color: rgb(100, 100, 100);
}
.button-background{
  /* background-color: #464866; */
  background-image: linear-gradient(to top, #464866, #7073a1);
}
#icon{
  color: var(--grey);
  margin-left: 10px
}
#button-background{
  background-color: #464866;
  color: var(--grey)
}
#news-background{
  /* background-color: var(--mediumblue); */
  background-image: linear-gradient(to top, var(--mediumblue), #377faf);
  color: var(--grey)
}
/* #countryTag{
  background-color: #464866;
} */

@media only screen and (max-width: 417px) {
}

/* #newsHolder{
  background-color:var(--grey);
} */

header{
  /* background-color: #464866; */
  background-image: linear-gradient(to top, #464866, #60638b);
}

button{
  cursor: pointer;
}

#countryTag{
  overflow: auto;
}