body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background-color: #25274D ;
  --mainblue:#25274D;
  --mediumblue:#29648A; 
  --brightblue: #2E9CCA;
  --grey: #AAABB8;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

#headerbckgr{
  background-color: var(--mainblue);
}

.title {
  color: var(--brightblue);
}
.subtitle {
  color: var(--brightblue);
}
.info {
  color: var(--grey);
}
.bordered{
  border-color: var(--mainblue);
}
#icon{
  color: var(--grey)
}
#button-background{
  background-color: #464866;
  color: var(--grey)
}
#news-background{
  background-color: var(--mediumblue);
  color: var(--grey)
}
/* #countryTag{
  background-color: #464866;
} */

@media only screen and (max-width: 417px) {
}

/* #newsHolder{
  background-color:var(--grey);
} */

#countryTag{
  overflow: auto;
}